---
import Base from '@/layouts/Base.astro';
import Hero from '@/components/home/Hero.astro';
import FeaturedProjects from '@/components/home/FeaturedProjects.astro';
import Gallery from '@/components/home/Gallery.astro';
import Skills from '@/components/home/Skills.astro';
import Timeline from '@/components/home/Timeline.astro';
import About from '@/components/home/About.astro';
import Contact from '@/components/home/Contact.astro';
---

<Base>
  <main>
    <Hero />
    <FeaturedProjects />
    <Gallery />
    <Skills />
    <Timeline />
    <About />
    <Contact />
  </main>
</Base>
